p {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25;
    font-weight: bold;
    margin-right: auto;

}

table{
    border : 1px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    color: wheat;
    border-radius: 12px;
    background-color: black;
    padding: 10px;
}
th:hover{
    border : 1px solid black;
    border-collapse: collapse; background-color: rgb(4, 38, 100);
    /* text-align: right; */
   
}
th{
    border : 1px solid black;
   
    text-align: left;
   
}
tr:hover{
    background-color: aqua;
}
td:hover{
    border : 1px solid black;
    background-color: cornflowerblue;
    /* border-collapse: collapse; */
}